body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #50a6d3;
}

/* Clear */
.clear {
    clear: both;
}

#wrapper {
    min-width: 380px;
    min-height: 300px;
}

.logo {
    text-align: center;
    margin-top: 10px;
}

.events {
    padding: 15px;
}

.event {
    background: #2a89bb;
    padding: 10px;
    margin-bottom: 10px;
}

.event .event-image {
    float: left;
    margin-right: 10px;
}

.event .event-image img {
    width: 70px;
    height: 70px;
    border: 3px solid #eee;
    margin-top: 12px;
}

.event-content {
    float: right;
    width: 240px;
}

.event-title {
    font-size: 16px;
    color: #fff;
    margin-top: 5px;
}

.event-desc {
    font-size: 14px;
    color: #161616;
}

.event-info ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 5px;
}

.event-info ul li {
    float: left;
    margin-top: 10px;
    padding: 4px;
    color: #fff;
}

.event-info ul li.event-date-dmmy{
    background: #0D6DA0;
}

.event-info ul li:first-child {
    padding: 4px 6px 4px 6px;
}

.details {
    cursor: pointer;
}

::-webkit-input-placeholder { color:#fff; }

input.pure-input-1{
    background: #2580AF;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    margin-bottom: 10px !important;
}