<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/popup.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="css/angular-busy.min.css">
</head>
<body ng-app="chevent" ng-controller="cheventCtrl as vm">


<div id="wrapper">

    <div class="logo">
        <img src="img/logo.png" alt="">
    </div>


    <div class="events">


        <div ng-if="vm.finished" class="pure-form pure-form-stacked" role="search">
            <div class="row">
                <div class="pure-input-1">

                    <input class="pure-input-1" type="text" ng-model="vm.search" id="Search" placeholder="Arama">
                    <label class="pure-input-2-3">Bulunduğunuz konum : {{vm.currentCity}}</label>

                </div>
            </div>
        </div>


        <div ng-if="vm.finished" class="event {{event.event_class}}"
             ng-repeat="event in vm.events | orderBy:'event_date_ddmmyyyy' |  filter:vm.search | pagination: vm.curPage * pageSize | limitTo: pageSize  ">
            <div class="event-image">
                <img src="{{event.event_image}}" alt="">
            </div>

            <div class="event-content">
                <div class="event-title">{{event.event_name}}</div>

                <div class="event-info">
                    <ul>
                        <li ng-click="vm.eventGo(event.event_url)" class="details">Detaylar</li>
                        <li><i class="fa fa-try"></i> {{event.event_cost}}</li>
                        <li ng-if="event.event_date_ddmmyyyy" class="event-date-dmmy" countdown
                            end-date="{{event.event_date_ddmmyyyy}}"
                            lang="TR"
                            units="days|hours|minutes|seconds">kaldı
                        </li>


                    </ul>
                </div>
            </div>

            <div class="clear"></div>


        </div>


        <div class="pagination" ng-if="vm.finished">

            <button type="button" class="pure-button pure-button-primary" ng-disabled="vm.curPage == 0"
                    ng-click="vm.curPage=vm.curPage-1"> &lt; GERİ
            </button>

            <span>{{vm.curPage + 1}} sayfada,  toplam {{ numberOfPages() }} sayfa var</span>


            <button type="button" class="pure-button pure-button-primary"
                    ng-disabled="vm.curPage >= vm.events.length/pageSize - 1"
                    ng-click="vm.curPage = vm.curPage+1">İLERİ &gt;</button>
        </div>


    </div>
    <div ng-if="vm.events.length===0"
         cg-busy="{promise:vm.eventPromise,message:'Loading events..', templateUrl:'tmpl\\loader.html'}"></div>
</div>


<!--Library-->
<script src="lib/angular.min.js"></script>
<script src="lib/countdownTimer.min.js"></script>
<script src="lib/angular-busy.min.js"></script>

<script src="../background.js"></script>
<!--Base Module-->
<script src="app/app.module.js"></script>
<script src="app/service/chevent.service.js"></script>
<script src="app/controller/chevent.controller.js"></script>
<script src="app/directive/pagination.js"></script>

<!--Location Module-->
<script src="app/service/location.service.js"></script>

</body>
</html>
